@using ModelServices.AdminModel
@model StateModel

<input id="hdnMessage" type="hidden" value="@TempData["ResponseMessage"]" />
<input id="hdnValue" type="hidden" value="@TempData["ResponseValue"]" />
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center;">Add State</h4>

                @using (Html.BeginForm("AddState", "Master", new { area = "Admin" }, FormMethod.Post, new { @class = "forms-sample", role = "form" }))
                {

                    @Html.HiddenFor(x => x.STATEID)

            <div class="row">

                    <div class="col-md-6 form-group">
                        <label>Country Name</label>
                        @Html.DropDownListFor(x => x.COUNTRYID, new SelectList(Model.countryModels, "ID", "COUNTRY_NAME"), "Select Country", new { @class = "form-control form-control-sm", @style = "color:#040404;" })
                        @Html.ValidationMessageFor(m => m.COUNTRYID, "", new { @class = "text-danger" })
                    </div>
                        
                    <div class="col-md-6 form-group">
                        <label>State Name</label>
                        @Html.TextBoxFor(x => x.STATENAME, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.STATENAME, "", new { @class = "text-danger" })
                    </div>


                    <div class=" form-check-flat form-check-primary">
                        <label class="form-check-label">
                            @Html.CheckBoxFor(x => x.ISACTIVE, new { @class = "form-check-input", @type = "checkbox" })Is Active
                        </label>
                    </div>

            </div>
                    <br />
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a class="btn btn-light" href="@Url.Action("Country","Master",new {area="Admin"})">Cancel</a>

                }

            </div>
        </div>
    </div>

</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            debugger;
            const message = $('#hdnMessage').val();
            const response = parseInt($('#hdnValue').val());
            let heading = '', icon = ''
            if (message != "" && message != undefined) {
                if (response == 1) {
                    heading = 'Success';
                    icon = 'success';
                }
                else {
                    heading = 'Error';
                    icon = 'error';
                }
                $.toast({
                    heading: heading,
                    text: message,
                    showHideTransition: 'slide',
                    icon: icon,
                    position: 'top-right',
                })
            }
            //alert(message);
            //alert(response);
            //console.log("ready!");
        });
    </script>
}

