@using ModelServices.AdminModel
@model ChangePasswordModel

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center;">Change Password</h4>
                <br />
                @*<div style="text-align:center"><span class="text-danger">@TempData["ErrorMessage"]</span></div>*@

                <input id="hdnMessage" type="hidden" value="@TempData["ResponseMessage"]" />
                <input id="hdnValue" type="hidden" value="@TempData["ResponseValue"]" />

                <br />
                @using (Html.BeginForm("ChangePassword", "Profile", new { area = "Admin" }, FormMethod.Post, new { @class = "forms-sample", role = "form" }))
                {
                    <div class="form-group">
                        <label for="exampleInputPassword1">Old Password<span class="text-danger"> * </span></label>
                        @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-group", @placeholder = "Old Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">New Password<span class="text-danger"> * </span></label>
                        @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-group", @placeholder = "New Password", @type = "Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password<span class="text-danger"> * </span></label>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-group", @placeholder = "Confirm Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>


                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a class="btn btn-light" href="@Url.Action("Index","Home",new {area="Admin"})"> Cancel </a>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            debugger;
            const message = $('#hdnMessage').val();
            const response = parseInt($('#hdnValue').val());
            let heading = '', icon = ''

            if (message != "" && message != undefined) {

                if (response == 1) {
                    heading = 'Success';
                    icon = 'success';
                }
                else {
                    heading = 'Error';
                    icon = 'error';
                }

                $.toast({
                    heading: heading,
                    text: message,
                    showHideTransition: 'slide',
                    icon: icon,
                    position: 'top-right',
                })
            }

            //alert(message);
            //alert(response);
            //console.log("ready!");
        });
    </script>
}
