@using ModelServices.AdminModel
@model CategoryBaseModel
<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>*@

<!-- Modal -->
<div class="modal fade" id="AddUpdateCategory"  data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <form method="post" id="formCategory">    
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Category</label>
                            @Html.TextBoxFor(x => x.CATEGORY_NAME, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CATEGORY_NAME, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Code</label>
                            @Html.TextBoxFor(x => x.CATEGORY_CODE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CATEGORY_CODE, "", new { @class = "text-danger" })
                        </div>

                        <div class=" form-check-flat form-check-primary">
                            <label class="form-check-label">
                                @Html.CheckBoxFor(x => x.IS_ACTIVE, new { @class = "form-check-input", @type = "checkbox" })Is Active
                            </label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary btnClose" >Close</button>
                    <button type="submit" class="btn btn-sm btn-primary" id="btnAddUpdate">Submit</button>
                </div>
            </div>
        </form>
        
    </div>
</div>